@import '../../_setup/vars.scss';

.uiShell {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - #{$header-height});
  font-family: $font-ui;
}

.uiShell--classic {
  background: $color-white;
}

.uiShell--premium {
  background: $color-white;
}
