@import '../_setup/vars.scss';

.liquidGradient {
  --liquid-blending: hard-light;

  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.liquidGradient__svg {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.liquidGradient__container {
  width: 100%;
  height: 100%;
}

.liquidGradient__blob {
  position: absolute;
  mix-blend-mode: var(--liquid-blending);
  background-repeat: no-repeat;
}

.liquidGradient__blob--g1 {
  background-image: radial-gradient(
    circle at center,
    rgba($color-identity-primary, 0.8) 0%,
    rgba($color-identity-primary, 0) 50%
  );
}

.liquidGradient__blob--g2 {
  background-image: radial-gradient(
    circle at center,
    rgba($color-identity-secondary, 0.8) 0%,
    rgba($color-identity-secondary, 0) 50%
  );
}

.liquidGradient__blob--g3 {
  background-image: radial-gradient(
    circle at center,
    rgba($color-identity-tertiary, 0.65) 0%,
    rgba($color-identity-tertiary, 0) 50%
  );
}

.liquidGradient__blob--g4 {
  background-image: radial-gradient(
    circle at center,
    rgba($color-identity-primary, 0.55) 0%,
    rgba($color-identity-primary, 0) 50%
  );
}

.liquidGradient__blob--g5 {
  background-image: radial-gradient(
    circle at center,
    rgba($color-identity-grey-light, 0.75) 0%,
    rgba($color-identity-grey-light, 0) 50%
  );
}

.liquidGradient__blob--vertical {
  animation: liquidGradient-moveVertical ease infinite;
}

.liquidGradient__blob--circle {
  animation: liquidGradient-moveInCircle linear infinite;
}

.liquidGradient__blob--horizontal {
  animation: liquidGradient-moveHorizontal ease infinite;
}

.liquidGradient__blob--interactive {
  background-image: radial-gradient(
    circle at center,
    rgba($color-identity-primary, 0.8) 0%,
    rgba($color-identity-primary, 0) 50%
  );
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  opacity: 0.7;
  animation: none !important;
  will-change: transform;
}

@keyframes liquidGradient-moveInCircle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes liquidGradient-moveVertical {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes liquidGradient-moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }

  50% {
    transform: translateX(50%) translateY(10%);
  }

  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

@media (prefers-reduced-motion: reduce) {
  .liquidGradient__blob:not(.liquidGradient__blob--interactive) {
    animation: none !important;
  }
}
